section{
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid lightgray;
	padding: 10px;
	padding-bottom: 30px;
	min-height: 450px;
	height: auto;
	
}
section hr{
	margin: 10px;
}
section h1{
	border-left: 10px solid purple;
	padding-left: 10px;
}
.class_div{
	width: 100%;
	height: auto;		
	font-weight: 600;
	background-color: #337ab7;
	border-bottom: #337ab7;
	text-align: center;				
}
.class_div h3{
	margin-bottom: 10px;
	font-weight: 600;
}
.class_div>div{
	display: inline-block;
	width: 100%;
	height: 200px;
	background-color: rgba(255,255,255,0.5);
	transition: all 0.2s;
	padding-top: 20px;

	margin-bottom: 2px;
	/* border-bottom: 1px solid lightgray; */
}
.class_div:hover>div{
	width: 80%;		
	color: white;
}

#class_bottom{
	clear: both;
}
#class_group{
	width: 100%;
	padding: 20px;
}
.teacher_img_cut{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 20px !important;
	text-align: center;
	display: inline-block;
}
.teacher_img_cut img{
	height: 100%;
	display: inline-block;
}
